body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#user-card {
  text-align: center;
  margin-bottom: 20px;
  padding: 10%;
}

.user-photo-div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.foto-user {
  width: 100%;
  height: auto;
}

.main-container {
  text-align: center;
}

.model-title {
  margin-bottom: 20px;
}

.boton {
  flex: 1 0 100%;
  max-width: calc(50% - 10px);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boton img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.button-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boton .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

.boton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con 50% de opacidad */
  z-index: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.checked  {
  width: 40px !important;
}

.bedrooms-form, .restroom-form, .surface-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-weight: bold;
}

.bedrooms-form label {
  display: block;
  margin-bottom: 10px;
}

.restroom-form label {
  display: block;
  margin-bottom: 10px;
}

.surface-form label {
  display: block;
  margin-bottom: 10px;
}

.bedrooms-form input[type="radio"] {
  margin-right: 5px;
}

.restroom-form input[type="radio"] {
  margin-right: 5px;
}

.surface-form input[type="radio"] {
  margin-right: 5px;
}

.bedrooms-submit-button {
  background-color: #0f32ba;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.restroom-submit-button {
  background-color: #0f32ba;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.surface-submit-button {
  background-color: #0f32ba;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.bedrooms-submit-button:hover {
  background-color: #0f32ba;
}

.restroom-submit-button:hover {
  background-color: #0f32ba;
}

.surface-submit-button:hover {
  background-color: #0f32ba;
}

.aplicar-button {
  background-color: #0f32ba;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px; 
  display: block;
  margin: 10px auto;
  font-weight: 500;
}

.result-container {
  border: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  width: 50%; 
  margin-left: 50px;
}

.result-text {
  font-weight: 500;
}

.welcome {
  position: relative;
  overflow: hidden;
  min-height: 100dvh;
}

.welcome img {
  width: 100%;
  height: 100dvh;
  object-fit: cover;
}

.welcome button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
